
.ipynb_checkpoints/Lambda - functions and spark-checkpoint.ipynb

.ipynb_checkpoints/filter data-checkpoint.ipynb

.ipynb_checkpoints/read airport data-checkpoint.ipynb

.ipynb_checkpoints/count names in friedrichshain-kreuzberg in 2017-checkpoint.ipynb
